p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.card{
    display: flex;
    border: black 3px solid;
    padding: 10px;
    width: 900px;
}
.card div:nth-child(1){
    border: black 3px solid;
    margin-left: 20px;
}
.card__photo{
    width: 200px;
    margin-left: 20px;
}
.card__description{
    border: black 2px solid;
    padding: 10px;
    width: 500px;
    margin-left: 10px;
}
.card div:nth-child(3){
    border: black 2px solid;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
